body {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

h1 {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 58px;
  margin: 0 0 58px;
}

h2 {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0 0 40px;
}

h3 {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  margin: 0 0 34px;
}

h4 {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 30px;
}

p {
  color: #adb7bd;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-indent: 30px;
  margin: 0;
}

a {
  color: #87ceeb;
  text-decoration: underline;
}
.custom-a {
  color: #000000;
  text-decoration: none;
}
.custom-a:hover {
  color: #f7a600;
  text-decoration: none;
}
a:hover {
  color: #2f3034;
}

.date {
  background: #ffffff;
  color: #ffffff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 10px 15px 8px;
  text-transform: uppercase;
}
.container {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 1.5vw;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0;
  margin: 44px 0 0 0;
  padding: 32px 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 1rem;
  background-color: #17181e;
  padding: 14px 32px;
  padding-right: 2rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 520;
  margin-inline: auto;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.signup_btn {
  background-color: #f7a600;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.signup_btn:hover {
  background-color: #ffc35c;
}

.login_btn {
  background-color: #17181e;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  padding: 0.6rem 1rem;
  font-weight: 600;
}

.login_btn:hover {
  background-color: #2f3034;
  color: #f7a600;
  cursor: pointer;
}

.logout_btn {
  border: none;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #f7a600;
  background-color: #2f3034;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.navMenu_closed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navMenu_open {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@keyframes slidein {
  0% {
    left: 500%;
  }
  100% {
    left: 100%;
  }
}

.nav-logo {
  text-decoration: none;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 600;
}

.nav-logo:hover {
  color: #ffffff;
}

.X,
.ll {
  color: #f7a600;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover {
  color: #f7a600;
}

.nav_hamburger {
  display: none;
}

.AiOutlineClose:active,
.RxHamburgerMenu:active {
  color: #f7a600;
}

.landing_container {
  display: block;
  background-color: #f5f7fa;
}

.landing_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #202020;
  width: 100%;
}

.header_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50rem;
}

.header_left > p {
  text-indent: 0;
}

.header_left > button {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #f7a600;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1rem 8rem;
}

.header_left > button:hover {
  background-color: #ffc35c;
}

.tagline {
  font-size: 3.2rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  margin-bottom: 1.5rem;
}

.subtagline {
  font-size: 2.3rem;
  color: #f7a600;
  font-weight: bolder;
  letter-spacing: -2px;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 2rem;
}

.description > span {
  color: #f7a600;
}

.header_right {
  width: 45rem;
  height: 33rem;
  background-image: url('src/assets/Landing_header.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 2px 2rem rgba(255, 255, 255, 0.8);
}

.landing_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}

.body_component {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
  width: 75%;
  margin-bottom: 5rem;
  padding: 2rem 0rem;
}

.body_component > .text {
  max-width: 30rem;
}

.body_component > .text > p {
  text-indent: 0;
}

.body_component > .text > .heading {
  font-size: 2rem;
  color: #f7a600;
  margin-bottom: 1rem;
}

.body_component > .text > .description {
  font-size: 1.1rem;
  color: #000000;
}

.body_component > .image > img {
  width: 32rem;
  height: 27rem;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 1.5rem 0rem;
  background-color: #f5f7fa;
  border-top: 3px solid #d3d3d3;
}

.landing_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  text-align: start;
  background-color: #f5f7fa;
  padding: 0;
}

.landing_footer > .heading {
  text-decoration: none;
  font-size: 3rem;
  color: #000000;
}

.landing_footer > hr {
  width: 100%;
  border: 1px solid #d3d3d3;
  margin-bottom: 2rem;
}

.landing_footer > p {
  text-indent: 0;
}

.landing_footer > .warning {
  color: #000000;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.landing_footer > .description {
  color: #7f7f87;
  font-size: 0.9rem;
  text-align: start;
  font-weight: 300;
}

.asset {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #17181e;
  margin-bottom: 20px;
}

.asset_data {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  text-align: center;
  padding-inline: 10px;
}

.asset_data > p {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.asset_data > p:nth-child(1) span:nth-child(1) {
  color: #f0f0f0;
}

.asset_data > p:nth-child(1) span:nth-child(2) {
  color: #616e85;
}

.asset_data p {
  display: flex;
  color: #f0f0f0;
  text-align: left;
  text-indent: 0;
}

.asset_data p span:nth-child(1) {
  color: #616e85;
  font-weight: 500;
}

.asset_data p span:nth-child(2),
.asset_name,
.asset_price {
  font-weight: 600;
  color: #f0f0f0;
}

.asset_name,
.asset_price {
  padding-block: 8px;
  font-size: 30px;
}

.chart_select {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.chart_select select {
  background-color: #17181e;
  padding: 4px;
  border-radius: 50px;
  border: 1px solid #616e85;
  color: #616e85;
}

.chart_select div p {
  color: #f0f0f0;
  font-size: 24px;
}

.asset_chart {
  display: block;
  width: 60%;
  margin-left: auto;
  padding-inline: 20px;
}

@media screen and (1024px>=width>797px) {
  .asset_name,
  .asset_price {
    font-size: 24px;
  }
  .navMenu_closed,
  .navMenu_open {
    gap: 16px;
  }
}

@media screen and (max-width: 796px) {
  .nav_hamburger {
    display: flex;
  }
  .AiOutlineClose {
    position: relative;
    top: 35px;
    z-index: 2;
  }
  .navMenu_open {
    background-color: #17181e;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 270%;
    position: relative;
    left: 100%;
    top: 45px;
    animation: slidein 0.33s ease-in-out 1;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
  }
  .navbar_open {
    padding-top: 175px;
    top: 100px;
  }
  .nav-container {
    align-items: center;
  }
  .navMenu_closed {
    display: none;
  }
  .nav-link {
    margin: 2vh 0;
    text-align: center;
  }
  .nav_hamburger {
    display: flex;
  }
  .asset {
    flex-direction: column;
  }
  .asset_data {
    width: 95%;
  }
  .asset_chart {
    width: 95%;
    margin-right: 0;
    padding-inline: 10px;
  }
  .chart_select {
    padding-inline: 0;
    margin-inline: auto;
  }
}
/* assets page start*/
.assets_container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  border: 1px solid #000000;
  padding: 3px;
}
.heading {
  margin-top: 3vh;
  font-weight: bold;
  font-size: 1.4vw;
}

.row-0,
.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7,
.row-8,
.row-9,
.row-10,
.row-11,
.row-12,
.row-13,
.row-14,
.row-15,
.row-16,
.row-17,
.row-18,
.row-19,
.row-20 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* Adjust the number of columns based on your design */
  gap: 5px; /* Adjust the gap between grid items */
  width: 100%;
  padding: 5px 10px; /* Add padding for better spacing */
}
.col6 {
  font-weight: bold;
  font-size: 1.4vw;
}
.col0,
.col2,
.col3,
.col4,
.col5,
.col6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* assets page end */

.formpage {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.signup-form,
.login-form {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 1.2vw;
  font-weight: normal;
  line-height: 1.4;
  padding: 4vh 2vw;
  width: 25vw;
  margin-top: 10vw;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 0 0 1vw 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 1vw 1vw;
  -moz-border-radius: 0 0 1vw 1vw;
  -ms-border-radius: 0 0 1vw 1vw;
  -o-border-radius: 0 0 1vw 1vw;
}

.form-header {
  text-align: left;
  background-color: #1a1c20;
  color: #f7a600;
  font-size: 2vw;
  font-weight: 700;
  padding: 2vh 2vw;
  width: 25vw;
  border-radius: 1vw 1vw 0 0;
  -webkit-border-radius: 1vw 1vw 0 0vw;
  -moz-border-radius: 1vw 1vw 0 0vw;
  -ms-border-radius: 1vw 1vw 0 0vw;
  -o-border-radius: 1vw 1vw 0 0vw;
}
.form-footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
  margin-top: 2vh;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.signup-form input,
.login-form input {
  width: 70%;
  padding: 1.5vh 2vw;
  border-radius: 5px;
  margin: 1vh 0;
}

.signup-form button,
.login-form button,
.btn {
  padding: 1vh 4vw;
  border: none;
  border-radius: 0.6vw;
  font-size: 1.3vw;
  font-weight: 500;
  cursor: pointer;
  background-color: #f7a600;
  color: #1a1c20;
  -webkit-border-radius: 0.6vw;
  -moz-border-radius: 0.6vw;
  -ms-border-radius: 0.6vw;
  -o-border-radius: 0.6vw;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
}
.signup-form button:hover,
.login-form button:hover,
.btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  color: white;
  background-color: #1a1c20;
  color: #f7a600;
  font-weight: 700;
}
.navigator_link {
  color: #f7a600;
  text-decoration: none;
}
.navigator_link:hover {
  color: #f7a600;
}

.signup-form label,
.login-form label {
  margin-bottom: 0.5vh;
}

.signup-form .form-group .login-form {
  margin-bottom: 2vh;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  width: 23vw;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.form-group input:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}
.error-text {
  font-size: 16px;
  color: red;
}
.watchlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2vh 2vw;
}
